# Exclude the .htaccess file
.htacess

# Exclude any PSQ/AI source
*.psd
*.ai

# Exclude the build products
build/*
*.[oa]

#Exclude OS x folder attributes
.DS_Store

#Exclude Text file
*.txt
#Except read me
!README.txt

#Exclude log files
*.log

#Exclude Fonts 
-fonts/

